html{ scroll-behavior: smooth;}
*{font-family: "Poppins", serif;}

.full-height {height: 100vh;}
.w-30 {width: 30%;}
.h-50{height: 50%;}
.fs-80{font-size: 80%;}
.position-mid {top: 50%;}
.card-w-h {
    height: 215px;
    width: 425px;
}
.team-w{width: 400px; height: 370px;}

li { list-style: none;}

.icon-link-hover:hover{
    color: var(--bs-primary); 
}
/* nav{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */
.scrolled-nav{
    box-shadow: 0px 7px 8px -10px rgba(0,0,0,0.5);
}
.carousel-indicators{
    flex-direction: column;
    right: 5%;
    top: 20%;
    margin: 0;
    z-index: 3;
}
.carousel-indicators [data-bs-target]{
    width: 8px;
    height: 8px;
    opacity: 90%;
    background-color: var(--bs-white) !important;
    transition: all 0.3s;
}
.carousel-indicators [data-bs-target]:hover{
    transform: scale(1.5);
    /* background-color: transparent !important; */
    /* border: 1px solid var(--bs-white); */
}
.blackScreen{
    background-color: var(--bs-black);
    z-index: 2;
    opacity: 80%;
}
.carousel-caption{
    z-index: 4;
}
.BlueBtn{
    border: 2px solid var(--bs-primary);
    background-color: var(--bs-primary);
    border-radius: 30px;
    color: var(--bs-white);
    padding: 1% 3%;
    box-shadow: inset 0px 6px 15px -8px var(--bs-black);
    position: relative;
    overflow: hidden;
    
}
.BlueBtn p {
    position: absolute;
    background: linear-gradient(90deg,transparent,rgba(255, 255, 255,0.5),transparent);
    width: 20%;
    height: 400%;
    top: -150%;
    left: -50%;
    transform: rotate(45deg);
    transition: 0.8s;
}
.BlueBtn:hover p {left: 150%;}
.TransBtn{
    border: 2px solid var(--bs-white);
    color: var(--bs-white);
    padding: 1% 3%;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.TransBtn p {
    position: absolute;
    background: linear-gradient(90deg,transparent,rgba(255, 255, 255,0.5),transparent);
    width: 20%;
    height: 400%;
    top: -150%;
    left: -50%;
    transform: rotate(45deg);
    transition: 0.8s;
}
.TransBtn:hover{
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.TransBtn:hover p {left: 150%;}
/* ----------------------------------------------------------- */
.whiteBtn{
    border: 2px solid var(--bs-primary);
    color: var(--bs-primary);
    padding: 1% 3%;
    background-color: var(--bs-white);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.whiteBtn p {
    position: absolute;
    background: linear-gradient(90deg,transparent,rgba(13, 110, 253, 0.5),transparent);
    width: 20%;
    height: 400%;
    top: -150%;
    left: -50%;
    transform: rotate(45deg);
    transition: 0.8s;
}
.whiteBtn:hover{
    background-color: var(--bs-white);
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}
.whiteBtn:hover p {left: 150%;}
#floatCard #floatIcon, #floatCard h5{transition: 0.5s;}
#floatCard:hover #floatIcon{color: var(--bs-primary);}
#floatCard:hover h5{color: var(--bs-primary) !important;}
#floatContainer{
    background-color: var(--bs-white);
    top: 20%;
    left: -3%;
    box-shadow: -2px -2px 20px -12px var(--bs-black);
}
.fa-display{width: 40px;}

#ourServices{
    background-image: url(../images/services.png);
    background-size: cover;
    background-attachment: fixed;
}
.serv-hover-container{
    overflow: hidden;
}
.hover-child{
    position: absolute;
    top: 100%;
    transition: 0.3s;
}
.serv-hover-container:hover .hover-child {
    top: 0;
}


#ourWork .active{
    color: var(--bs-primary);
}

#ourWork li:hover{
    color: var(--bs-primary);
    cursor: pointer;
    transition: 0.5s;
}

.work-card-wh{
    max-width: 390px; 
    min-width: 370px;
    bottom: 3%;
    transform: rotate3d(0,1,0, 90deg);
    transition: 0.5s;
}

.our-work-hover-container:hover .work-card-wh{
    transform: rotate3d(0,1,0, 0deg);
}
.team-icons{transition: 0.2s;}
.team-icons:hover{ color: var(--bs-black) !important;}
.team-card-container {overflow-y: hidden; transition: 0.5s;}
.team-details{
    top: 85%;
    box-shadow: 0px -6px 10px -4px rgba(0,0,0,0.3);
    transition: 0.5s;
}
.team-card-container:hover .team-details{
    top: 38%;
}
.price-shadow{
    z-index: 5;
    box-shadow: 0px 1px 13px -4px var(--bs-black);
}

button[role = "presentation"]{
    font-size: 30px;
}

.owl-nav {
    text-align: center;
    font-size: 4rem;
}
.owl-prev {
    margin: 0 2%;
}
.blog-card{box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.5);}
.blog-img{ overflow: hidden; }
.blog-side-icn{background-color: var(--bs-dark);}
.progress{height: 2px;}
.progress-bar {
    width: 25%;
}
/* .blog-muted-part{color: var(--bs-muted);} */
.blog-muted-part span:hover{
    cursor: pointer;
    color: var(--bs-primary);
    transition: color 0.5s;
}
.blog-card:hover img {
    transform: scale(1.2) rotate(-10deg);
    transition: all 0.5s;
}
.blog-card:hover .blog-side-icn {
    background-color: var(--bs-primary);
    transition: all 0.3s;
}

.blog-card:hover .progress-bar {
    width: 100%;;
}

.clinet-image {
    filter: drop-shadow(-3px 0px 7px rgba(0, 0, 0, 0.4));
}
.purchase-sec{
    font-size: 4rem;
    position: absolute;
    top: -88%;
    left: -4%;
    opacity: 30%;
}
.contact-btn{
    text-transform: capitalize;
    border: none;
    background-color: var(--bs-white);
    color: var(--bs-dark);
    padding: 1% 3%;
    border-radius: 30px;
    transition: 0.3s;
}
.contact-btn:hover{
    color: var(--bs-white);
    background-color: var(--bs-primary);
}
footer{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
}
footer h6 {cursor: pointer;}

/* ********************** contact page ********************** */
.breadcrumb-item a {text-decoration: none;}
[aria-current="page"]::before{
    color: var(--bs-secondary) !important;
}
#contactContainer h5{
    top: 40%;
    left: 45%;
}
.my-from{
    border: none;
    outline: none;
}
.text-area{
    width: 100%;
    height: 300px;
    border: none;
    outline: none;
}
.contact-btn{
    margin-top: 3%;
    border: none;
    outline: none;
    color: var(--bs-white);
    background-color: var(--bs-primary);
    padding: 1% 2%;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: var(--bs-dark);
}
